GetDexIncidents.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_incident": {
                "actions": {
                    "Add_Sentinel_incident_url_in_comments": {
                        "inputs": {
                            "body": {
                                "@@odata.type": "microsoft.graph.security.alertComment",
                                "comment": "Related Sentinel incident: \n@{body('Get_Sentinel_incident')?['value']?[0]?['properties']?['incidentUrl']}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['GraphSecurity']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/beta/security/incidents/@{encodeURIComponent(items('For_each_incident')?['id'])}/comments"
                        },
                        "runAfter": {
                            "Add_comment_to_Sentinel_incident": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Add_comment_to_Sentinel_incident": {
                        "inputs": {
                            "body": {
                                "incidentArmId": "@{body('Get_Sentinel_incident')?['value']?[0]?['id']}",
                                "message": "<p>There is a new Defender Experts Managed Response requiring your attention:<br>\n<br>\n&lt;a href=\"@{items('For_each_incident')?['incidentWebUrl']}\"&gt;M365 Defender Incident&lt;/a&gt;</p>"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                        },
                        "runAfter": {
                            "Post_message_in_a_chat_or_channel": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Compose_evidences_Html_message": {
                        "actions": {
                            "Create_evidences_table": {
                                "inputs": {
                                    "format": "HTML",
                                    "from": "@variables('evidences')"
                                },
                                "runAfter": {
                                    "For_each_alert": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Table"
                            },
                            "For_each_alert": {
                                "actions": {
                                    "Compose_ividences": {
                                        "inputs": "@union(variables('evidences'), items('For_each_alert')?['evidence'])",
                                        "runAfter": {},
                                        "type": "Compose"
                                    },
                                    "Set_evidences": {
                                        "inputs": {
                                            "name": "evidences",
                                            "value": "@outputs('Compose_ividences')"
                                        },
                                        "runAfter": {
                                            "Compose_ividences": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "SetVariable"
                                    }
                                },
                                "description": "Add alerts evidences to the 'evidences' variable",
                                "foreach": "@body('Get_incident_alerts')?['value']",
                                "runAfter": {
                                    "Get_incident_alerts": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Foreach"
                            },
                            "Get_incident_alerts": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['GraphSecurity']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/beta/security/incidents/@{encodeURIComponent(items('For_each_incident')?['id'])}/alerts"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "runAfter": {
                            "If_recommendedHuntingQueries": [
                                "Succeeded"
                            ]
                        },
                        "type": "Scope"
                    },
                    "Get_Sentinel_incident": {
                        "description": "Find the Sentinel incident related to the M365D incident",
                        "inputs": {
                            "authentication": {
                                "type": "ManagedServiceIdentity"
                            },
                            "headers": {
                                "content-type": "application/json"
                            },
                            "method": "GET",
                            "queries": {
                                "$filter": "properties/providerIncidentId eq '@{items('For_each_incident')?['id']}'",
                                "api-version": "2023-07-01-preview"
                            },
                            "uri": "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{variables('workspaceName')}/providers/Microsoft.SecurityInsights/incidents"
                        },
                        "runAfter": {
                            "Compose_evidences_Html_message": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "If_recommendedHuntingQueries": {
                        "actions": {
                            "For_each_query": {
                                "actions": {
                                    "Run_hunting_query": {
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['GraphSecurity']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/beta/security/runHuntingQuery"
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    }
                                },
                                "foreach": "@items('For_each_incident')?['recommendedHuntingQueries']",
                                "runAfter": {},
                                "type": "Foreach"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@length(items('For_each_incident')?['recommendedHuntingQueries'])",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    },
                    "Post_message_in_a_chat_or_channel": {
                        "inputs": {
                            "body": {
                                "messageBody": "<p>New incident with a Managed Response:<br>\n<br>\n<strong></strong><strong>@{items('For_each_incident')?['displayName']}</strong><strong></strong><br>\n<strong>Severity</strong>: @{items('For_each_incident')?['severity']}<br>\n<strong>Status</strong>: @{items('For_each_incident')?['status']}<br>\n<strong>Assigned To</strong>: @{items('For_each_incident')?['assignedTo']}<br>\n<strong>M365D Incident</strong>: @{items('For_each_incident')?['incidentWebUrl']}<br>\n<strong>Sentinel Incident</strong>: @{body('Get_Sentinel_incident')?['value']?[0]?['properties']?['incidentUrl']}<br>\n<br>\n<br>\n<strong>Description</strong>:<br>\n@{items('For_each_incident')?['description']}<br>\n<br>\n<strong>Recommended actions</strong>:<br>\n@{items('For_each_incident')?['recommendedActions']}<br>\n</p>",
                                "recipient": {
                                    "channelId": "19:8e52aee721394ab78563596463c067dc@thread.skype",
                                    "groupId": "d05ba55c-593e-4bfa-8011-26e0626b5c14"
                                }
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                        },
                        "runAfter": {
                            "Get_Sentinel_incident": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('List_incidents_with_DEX_Managed_Response')?['value']",
                "runAfter": {
                    "List_incidents_with_DEX_Managed_Response": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_evidences": {
                "inputs": {
                    "variables": [
                        {
                            "name": "evidences",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_workspaceName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_resourceGroupName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "resourceGroupName",
                            "type": "string",
                            "value": "soc"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_subscriptionId": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_subscriptionId": {
                "inputs": {
                    "variables": [
                        {
                            "name": "subscriptionId",
                            "type": "string",
                            "value": "d1d8779d-38d7-4f06-91db-9cbc8de0176f"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_workspaceName": {
                "inputs": {
                    "variables": [
                        {
                            "name": "workspaceName",
                            "type": "string",
                            "value": "CyberSecuritySOC"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_resourceGroupName": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "List_incidents_with_DEX_Managed_Response": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['GraphSecurity']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/beta/security/incidents",
                    "queries": {
                        "$filter": "status eq 'awaitingAction' or assignedTo eq 'Customer'"
                    }
                },
                "runAfter": {
                    "Initialize_evidences": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 3
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 3
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "GraphSecurity": {
                    "connectionId": "/subscriptions/d1d8779d-38d7-4f06-91db-9cbc8de0176f/resourceGroups/DefenderExperts/providers/Microsoft.Web/connections/GraphSecurity",
                    "connectionName": "GraphSecurity",
                    "id": "/subscriptions/d1d8779d-38d7-4f06-91db-9cbc8de0176f/resourceGroups/DefenderExperts/providers/Microsoft.Web/customApis/GraphSecurity"
                },
                "azuresentinel": {
                    "connectionId": "/subscriptions/d1d8779d-38d7-4f06-91db-9cbc8de0176f/resourceGroups/DefenderExperts/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/d1d8779d-38d7-4f06-91db-9cbc8de0176f/providers/Microsoft.Web/locations/eastus2/managedApis/azuresentinel"
                },
                "teams": {
                    "connectionId": "/subscriptions/d1d8779d-38d7-4f06-91db-9cbc8de0176f/resourceGroups/DefenderExperts/providers/Microsoft.Web/connections/teams",
                    "connectionName": "teams",
                    "id": "/subscriptions/d1d8779d-38d7-4f06-91db-9cbc8de0176f/providers/Microsoft.Web/locations/eastus2/managedApis/teams"
                }
            }
        }
    }
}